---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Experiences from '../components/Experiences.astro';
import Inclusions from '../components/Inclusions.astro';
import Moments from '../components/Moments.astro';
import Itinerary from '../components/Itinerary.astro';
import Support from '../components/Support.astro';
import Personalization from '../components/Personalization.astro';
import ClosingBanner from '../components/ClosingBanner.astro';
import FAQ from '../components/FAQ.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Crucero por el Caribe 2027 | Viaja Sin Visa">
	<Navbar />
	<main>
		<Hero />
		<Experiences />
		<Inclusions />
		<Moments />
		<Itinerary />
		<Support />
		<Personalization />
		<ClosingBanner />
		<FAQ />
		<ContactForm />
	</main>
	<Footer />
</Layout>
